{% extends 'page/base.html.j2' %}
{% set title = 'Welcome to %s' % site.configuration.title %}
{% block content %}
    <p>
        My ancestry research's main focus lies on the <a href="https://en.wikipedia.org/wiki/Lankester">Lankester</a>
        family name, derived from the English city of
        <a href="https://en.wikipedia.org/wiki/Lancaster,_Lancashire">Lancaster</a>, which itself was named after a fort
        on the river <a href="https://en.wikipedia.org/wiki/River_Lune">Lune</a>.
        <a href="/person/I0004/">My grandmother</a> is the last Lankester in my own lineage.
    </p>

    <p>
        Because history and data are fun, my research does not stop at the Lankesters I descend from. It's fascinating
        to learn about the lives of people who came before us hundreds of years ago, so this site includes other
        lineages, as well as people with relationships to my ancestors, such as siblings, spouses, and their histories.
    </p>
{% endblock %}
