<p>© Copyright Bart Feenstra, unless otherwise credited</p>
<p>Contact me on <a href="https://twitter.com/BartFeenstra">Twitter</a> or via <a href="mailto:bart@bartfeenstra.com">email</a></p>
<p>A family history as told by <a href="https://github.com/bartfeenstra/betty">Betty</a></p>
