{% if app.project.configuration.author %}
    <p>
        {% trans author = app.project.configuration.author %}© Copyright {{ author }}, unless otherwise credited{% endtrans %}
    </p>
{% endif %}
<p>{% trans %}Contact me on <a href="https://twitter.com/BartFeenstra">Twitter</a> or via <a href="mailto:bart@bartfeenstra.com">email</a>{% endtrans %}</p>
<p>{% trans %}A family history as told by <a href="https://github.com/bartfeenstra/betty">Betty</a>{% endtrans %}</p>
<p><a href="{{ '/api/index.html' | static_url }}">{% trans %}API documentation{% endtrans %}</a></p>
