{% extends 'base.html.j2' %}
{% block page_content %}
    <p>
    {% trans -%}
        My ancestry research's main focus lies on the <a href="https://en.wikipedia.org/wiki/Lankester">Lankester</a>
        family name, derived from the English city of
        <a href="https://en.wikipedia.org/wiki/Lancaster,_Lancashire">Lancaster</a>, which itself was named after a fort
        on the river <a href="https://en.wikipedia.org/wiki/River_Lune">Lune</a>.
        <a href="/person/I0004/">My grandmother</a> is the last Lankester in my own lineage.
    {%- endtrans %}
    </p>
    <p>
    {% trans -%}
        Because history and data are fun, my research does not stop at the Lankesters I descend from. It's fascinating
        to learn about the lives of people who came before us hundreds of years ago, so this site includes other
        lineages, as well as people with relationships to my ancestors, such as siblings, spouses, and their histories.
    {%- endtrans %}
    </p>
    <p>
    {% trans -%}
        The content on this website has been collected from many public archives, often staffed by volunteers, who spent
        countless hours digitizing historical records, providing us with a wealth of priceless information.
    {%- endtrans %}
    </p>
    <p>
    {% trans -%}
        I'd particularly like to thank my friend Carmen Louwe for her expertise in translating and transcribing
        historical documents (17th century church records would have been less fun without her), and Esmée du Cambout
        and <a href="http://members.ziggo.nl/hlankest/html/">H.F. "Bert" Lankester</a>, whose online knowledge fueled
        my search.
    {%- endtrans %}
    </p>
    <p>
    {% trans -%}
        Media and other content has been attributed where possible. Please contact me for corrections.
    {%- endtrans %}
    </p>
{% endblock %}
